:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f9f9f9;
  font-family: 'Roboto', sans-serif;
}

.header {
  width: 100%;
  background-color: #202020;
  color: white;
  padding: 20px;
  text-align: center;
  margin-bottom: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.file-drop-area {
  border: 2px dashed #ccc;
  padding: 40px;
  text-align: center;
  transition: border-color 0.3s;
  background-color: white;
  margin-bottom: 20px;
  width: 100%;
  max-width: 600px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.file-drop-area.fileover {
  border-color: #3f51b5;
}

input[type="file"] {
  display: none;
}

.file-select-button {
  background-color: #3f51b5;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
  margin-top: 12px;
}

.file-select-button:hover {
  background-color: #303f9f;
}

.files ul {
  list-style-type: none;
  padding: 0;
}

.files li {
  background: #efefef;
  margin: 5px 0;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.small {
  font-size: 12px;
  color: grey;
}

.upload-button {
  margin-top: 20px;
  background-color: red;
  color: white;
}

.upload-button:hover {
  background-color:red;
  color: white;
}

p {
  margin: 0;
  font-size: 16px;
  color: #666;
}

p:first-of-type {
  font-weight: bold;
  color: #333;
}
